<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBnak</title>
    <link rel="stylesheet" href="../static/estilos_index.css">
</head>
<body>

    <div class="formbold-main-wrapper">
        <div class="formbold-form-wrapper">

          <form action="/prediccion" method="post">
            <div class="formbold-input-group">
              <label for="name" class="formbold-form-label"> Name </label>
              <input
                type="text"
                name="name"
                id="name"
                placeholder="Enter your name"
                class="formbold-form-input"
              />
            </div>
      
            <div class="formbold-input-group">
              <label for="email" class="formbold-form-label"> Email </label>
              <input
                type="email"
                name="lastname"
                id="email"
                placeholder="Enter your email"
                class="formbold-form-input"
              />
            </div>
      
            <div class="formbold-input-group">
              <label for="age" class="formbold-form-label" >Edad:</label><br>
              <input type="text" id="age" name="age" placeholder="Enter your age" class="formbold-form-input" /> </div>
      

            <div class="formbold-input-group">
              <label for="country" class="formbold-form-label"> País de Nacimiento </label>
      
              <select class="formbold-form-select" id="country" name="country">
                  <option value="france">Francia</option>
                  <option value="spain">España</option>
                  <option value="germany">Alemania</option>
              </select>
            </div>

            <div class="formbold-input-radio-wrapper">              
              <label for="gender" class="formbold-form-label"> Género </label>

              <div class="formbold-radio-flex">
                <div class="formbold-radio-group">
                  <label class="formbold-radio-label" id="gender" name="gender">
                    <input class="formbold-input-radio" type="radio" name="gender"  value="Male" /> Masculino  <span class="formbold-radio-checkmark"></span>
                  </label>
                </div>
      
                <div class="formbold-radio-group">
                  <label class="formbold-radio-label" id="gender" name="gender">
                    <input class="formbold-input-radio" type="radio" name="gender" value="Female"/> Femenino <span class="formbold-radio-checkmark"></span>
                  </label>
                </div>

                <div class="formbold-input-group">
                  <label for="tenure" class="formbold-form-label"> Años de antigüedad </label>
                  <input type="text" id="tenure" name="tenure" placeholder="años de antigüedad" class="formbold-form-input" />
                </div>

                <div class="formbold-input-group">
                  <label for="balance" class="formbold-form-label"> Dinero en la cuenta </label>
                  <input type="text" id="balance" name="balance" placeholder="Cantidad" class="formbold-form-input" />
                </div>


                <div class="formbold-input-group">
                  <label for="credit_score" class="formbold-form-label"> Puntuacion Crediticia </label>
                  <input type="text" id="credit_score" name="credit_score" placeholder="Cantidad" class="formbold-form-input" />
                </div>


                <div class="formbold-input-group">
                  <label for="num_of_products" class="formbold-form-label"> Número de productos </label>
          
                  <select class="formbold-form-select" id="num_of_products" name="num_of_products">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                  </select>
                </div>

            <div class="formbold-input-radio-wrapper">
              <label for="is_active" class="formbold-form-label"> Le gustaría recibir notificaciones sobre futuras promociones? </label>
      
              <div class="formbold-radio-flex">
                <div class="formbold-radio-group">
                  <label class="formbold-radio-label" >
                    <input class="formbold-input-radio" type="radio" id="is_active" name="is_active" value="1" /> Si  <span class="formbold-radio-checkmark"></span>
                  </label>
                </div>
      
                <div class="formbold-radio-group">
                  <label class="formbold-radio-label">
                    <input class="formbold-input-radio" type="radio" id="is_active" name="is_active"  value="0" /> No <span class="formbold-radio-checkmark"></span>
                  </label>
                </div>
      
      
            <button type="submit" value="Enviar" class="formbold-btn">Submit</button>
          </form>
        </div>
      </div>
    
    
    
</body>
</html> 